---
layout: default
---

<div class="header-img">
  <div class="container">
    <div class="slogan">
      <h1>{{ site.tagline }}</h1>
    </div>
  </div>
</div>

<!-- site description -->
<div id="header">
  <div class="header-bg">
    <div id="preloader">
      <div class="preloader"></div>
    </div>
    <div class="main-slider" id="main-slider">
      <!-- main slider -->
      <ul class="slides">
        <li><img src="{{ site.slide01 }}" alt="Image 1"/></li>
        <li><img src="{{ site.slide02 }}" alt="Image 2"/></li>
        <li><img src="{{ site.slide03 }}" alt="Image 3"/></li>
      </ul>
    </div>
  </div>
</div>

<div class="rojito">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="donaciones">
          <div class="text-center"><a class="mdonations" href=#><img src="{{ site.baseurl }}/public/img/icono-donaciones.svg"></a></div>
          {% include box_donations.html %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="voluntariado">
          <div class="text-center"><a class="mvolunteering" href=#><img src="{{ site.baseurl }}/public/img/icono-voluntariado.svg"></a></div>
          {% include box_volunteering.html %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="acopio">
          <div class="text-center"><a class="mcentreofgathering" href=#><img src="{{ site.baseurl }}/public/img/icono-acopio.svg"></a></div>
          {% include box_centre-of-gathering.html %}
        </div>
      </div>
    </div>
  </div>
</div>
{% include buttons.html %}

<div class="container">
  <div class="weare">
    {% include partners.html %}
  </div>
</div>

<div class="social">
  {% include social.html %}
</div>

<!-- news -->
<section id="news" class="container">
  <div class="section-header text-center">
    <h2>Noticias</h2>
    <h4>Artículos y noticias de nuestros medios</h4>
  </div>
  <div class="text-width">
    {% include feed-news.html %}
  </div>
</section>