body {
  padding-top: 0px;
  padding-bottom: 30px;
  color: #1B395B;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 22px;
  font-weight: 100;
}

h2 {
  font-size: 36px;
  font-weight: 800;
}

h3 {
  font-size: 28px;
  font-weight: 100;
  margin: 20px 0;
  text-align: center;
}

/*Header*/

.navbar-default {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: transparent;
}

.navbar-default .navbar-brand {
  font-family: 'Roboto', sans-serif;
  color: #FF6039;
  font-weight: 800;
  font-size: 28px;
}

.navbar-default .navbar-brand span {
  font-weight: 100;
}

/*--------------------
Main Slider ========*/
.main-slider .slides img {
  position: absolute;
  width: 100%;
  min-width: 1200px;
  left: 50%;
}

/*--------------------
Header CTA ========*/
.header-cta {
  position: absolute;
  width: 100%;
  padding: 0 15px;
  z-index: 50;
  bottom: 120px;
}

.header-cta .blk {
  float: left;
  padding: 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

#header {
    position: relative;
    margin-bottom: -100px;
    overflow: hidden;
}

.header-bg {
    position: relative;
    height: 750px;
    overflow: hidden;
}

.header-bg::before {
    top: 0px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: url("../img/bg.png") repeat scroll 0% 0% transparent;
    z-index: 40;
}

.header-img h1 {
  position: absolute;
  top: 90px;
  max-width: 600px;
  color: #FFF;
  background: rgba(255, 96, 57, 0.7);
  padding: 10px;
  z-index: 50;
  border-radius: 5px;
}

.rojito {
  z-index: 50;
  background-color: #ff6039;
  margin-bottom: 25px;
  position: relative;
}

.voluntariado, .acopio, .donaciones {
  margin-top: -50px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 25px 10px;
  margin-bottom: 50px;
}

.weare {
  margin-bottom: 25px;
}

.social {
  padding-top: 25px;
  background-color: #1d3b5a;
<<<<<<< HEAD
}

/*Btn*/

.btn-default {
  color: #FFF;
  background-color: #4AC6E2;
  border-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-default:hover {
  color: #FFF;
  background-color: #FF6039;
  border-color: transparent;
}

/*Form*/

input {
  border-radius: 3px;
  border: none;
  padding: 5px;
  width: 100%;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

input[type=radio] {
  width: 15px;
}

input#entry_1477668518_other_option_response {
  width: inherit;
}

::-webkit-input-placeholder {
   font-family: 'Roboto', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: 'Roboto', sans-serif;
   color: red;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Roboto', sans-serif;
   color: red;
}

:-ms-input-placeholder {
   font-family: 'Roboto', sans-serif;
   color: red;
}

.ss-form-entry {
  margin: 5px 0 15px;
}

form ol ul {
  list-style: none;
  -webkit-padding-start: 0px;
}

li.ss-choice-item {
  line-height: 30px;
}

select {
  width: 100%;
}

#disqus_thread {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px;
}