body {
  padding-top: 0px;
  padding-bottom: 30px;
}
.header-img {
  width:100%; 
  height:100%; 
  background:url('/public/img/16904241940_01b43bc8dc_k.jpg') center center no-repeat;
  min-height: 500px;
}
.header-img h2 {
  padding-top: 90px;
}

.rojito {
  background-color: #ff6039;
  margin-bottom: 25px;
}

.voluntariado, .acopio, .donaciones {
  margin-top: -50px;
  background-color: #fff;
  padding: 5px 10px;
  margin-bottom: 50px;
}

.weare {
  margin-bottom: 25px;
}

.social {
  padding-top: 25px;
  background-color: #1d3b5a;
}