<script>
    $(document).on("click", ".mcentreofgathering", function(e) {
      bootbox.alert('<h4>Hogar de Cristo</h4><span>Agua embotellada • Pañales • Ropa de cama nueva</span>
				  <ul>
				    <li>Jotabeche 869, Estación Central. Bodega central Hogar de Cristo. (Lunes a domingo de 08:30 a 20:00 hrs.)</li>
				    <li>Municipalidad de Talagante. Av. 21 de Mayo 875, Talagante.</li>
				    <li>Centro Cultural Estación Mapocho: Plaza de la Cultura s/n ex estación de trenes. Metro Puente Cal y Canto. Estacionamientos Parque de Los Reyes. Santiago.</li>
				    <li>Y en todas las sedes del Hogar de Cristo en todo Chile (<a href="http://www.hogardecristo.cl/centros-de-acopios-en-regiones/">ver direcciones aquí</a>).</li>
				  </ul>', function() {
        // console.log("Alert Callback");
      });
    });
</script>

<div class="text-center">
	<h3>Centros de acopio</h3>
</div>
<p>Aporta directamente agua envasada, mascarillas, alcohol gel, pañales de niños y adultos, botas de agua, medicamentos y artículos para el aseo personal y el aseo del hogar. A continuación los lugares donde puedes ir a dejarlos.</p>