<div class="text-center">
	<h3><a href="#" data-toggle="modal" data-target="#donations">Donaciones</a></h3>
</div>
<p>Puedes aportar desde Chile o el extranjero a través de las cuentas que diversas organizaciones han abierto para este fin.</p>

<!-- modal -->
<div class="modal fade" id="donations" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Donaciones</h4>
			</div>
			<div class="modal-body">
				<h4>Desafío Levantemos Chile</h4>
				<ul>
					<li>Banco: Banco de Chile</li>
					<li>Número de cuenta: 98027-07</li>
					<li>RUT: 65.943.320-6</li>
					<li>Correo electrónico: <a href="mailto:transferencias@desafiochile.cl">transferencias@desafiochile.cl</a></li>
					<li>Asunto: Norte</li>
					<li>Para aportes desde el extranjero: <a href="http://www.desafiolevantemoschile.cl/aportes/">desafiolevantemoschile.cl/aportes</a></li>
				</ul>

				<p>Los aportes serán destinados a los proyectos que Desafío está desarrollando en la zona afectada:</p>
				<ul>
					<li>Reconstrucción del Centro de Salud Familiar (Cesfam) de Chañaral, para 9.000 personas</li>
					<li>Construcción de un boulevard para 40 comerciantes de Chañaral</li>
					<li>Entrega de 3 mil KEA (Kit Emergencia Atacama)</li>
					<li>Reconstrucción de un jardín infantil y habilitación de otros cinco</li>
					<li>Entrega de un bote de turismo a pescadores de Pan de Azúcar</li>
					<li>Apoyo médico al Hospital de Chañaral</li>
					<li>Módulos temporales para retenes de Carabineros</li>
					<li>Entre otros</li>
				</ul>


				<h4>Educación 2020</h4>
				<ul>
					<li>Para donaciones desde el extranjero o con tarjeta de crédito: <a href="http://www.globalgiving.org/microprojects/floods-in-north-of-chile-affected-children/">Global Giving</a></li>
				</ul>

				<h4>Hogar de Cristo</h4>
				<ul>
					<li>Banco: BCI</li>
					<li>Número de cuenta: 11475498</li>
					<li>RUT: 81.496.800-6</li>
					<li>Correo electrónico: <a href="mailto:hcristo@hogardecristo.cl">hcristo@hogardecristo.cl</a></li>
				</ul>

				<h4>Patronato Nacional de la Infancia</h4>
				<ul>
					<li>Banco: Banco de Chile</li>
					<li>Número de cuenta corriente: 6446-07</li>
					<li>RUT: 81.725.000-9</li>
					<li>Correo electrónico: <a href="mailto:administracion@patronato.cl">administracion@patronato.cl</a></li>
				</ul>
				<p>Con lo recaudado se comprarán insumos médicos para realizar operativo médico, además de para poder financiar los gastos que implica, como pasajes, alojamiento y comidas.</p>

				<h4>Techo Chile</h4>
				<ul>
					<li>Banco: Banco Santander</li>
					<li>Número de cuenta: 399406-6</li>
					<li>RUT: 65.533.130-1</li>
					<li>Correo electrónico: <a href="mailto:recursos.chile@techo.org">recursos.chile@techo.org</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- end modal -->