<h3>Centros de acopio</h3>
<h4>Hogar de Cristo</h4>
  <ul>
    <li>Jotabeche 867, Estación Central.</li>
    <li>Av Manquehue Sur 116, Las Condes.</li>
    <li>Av Camino Real 4518, Lo Barnechea.</li>
    <li>Municipalidad de Talagante. Av 21 de Mayo 875, Talagante.</li>
  </ul>
<h4>Desafío Levantemos Chile</h4>
  <ul>
    <li>Av Los Loros 1850, Copiapó-Atacama.</li>
    <li>Camino el Alba 9231, Las Condes.</li>
    <li>Sta Teresa 1625, Estación Central.</li>
    <li>Av del Valle 14500, Colina.</li>
    <li>La Serena: EASY, Parcela 69 - Ruta 5 Norte.</li>
    <li>Vicuña: Radio Astronómica, José Miguel Carrera 284.</li>
  </ul>
<h4>Centro Cultural Estación Mapocho</h4>
  <ul>
    <li>Sólo agua en Plaza de la Cultura S/N Metro Cal y Canto, Santiago.</li>
  </ul>