<h3>Centros de acopio</h3>
<p>Aporta directamente agua envasada, mascarillas, alcohol gel, pañales de niños y adultos, botas de agua, medicamentos y artículos para el aseo personal y el aseo del hogar. A continuación los lugares donde puedes ir a dejarlos.</p>

<!-- modal -->
<div class="modal fade" id="centre-of-gathering" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Centros de acopio</h4>
			</div>
			<div class="modal-body">
				<h4>Hogar de Cristo</h4><span>Agua embotellada • Pañales • Ropa de cama nueva</span>
				  <ul>
				    <li>Jotabeche 869, Estación Central. Bodega central Hogar de Cristo. (Lunes a domingo de 08:30 a 20:00 hrs.)</li>
				    <li>Municipalidad de Talagante. Av. 21 de Mayo 875, Talagante.</li>
				    <li>Centro Cultural Estación Mapocho: Plaza de la Cultura s/n ex estación de trenes. Metro Puente Cal y Canto. Estacionamientos Parque de Los Reyes. Santiago.</li>
				    <li>Y en todas las sedes del Hogar de Cristo en todo Chile (<a href="http://www.hogardecristo.cl/centros-de-acopios-en-regiones/">ver direcciones aquí</a>).</li>
				  </ul>
			</div>
		</div>
	</div>
</div>
<!-- end modal -->