<div class="footer-bg">
	<div class="container">
		<div class="row">

		    <div class="col-md-4 col-md-offset-4">
		        <ul class="list-unstyled">
		            <li class="text-center">
		            	Desarrollado por <a href="http://ciudadanointeligente.org" target="_blank"><img src="{{ site.baseurl }}/public/img/logo-ciudadanoi.png" alt="Fundación Ciudadano Inteligente" title="Fundación Ciudadano Inteligente"></a>
		            	<br>
		            	<a href="https://github.com/ciudadanointeligente/todoxchile" target="_blank"><i class="fa fa-github-alt"></i> Revisa nuestro código en Github</a>
		            </li>
		        </ul>
		    </div>
		    
		</div>

		<div class="row footer-contact">
		    <div class="col-md-3">
		        <ul class="list-unstyled">
		            <li><a href="tel:+56977936826"><i class="fa fa-phone"></i> +56 9 7793 6826</a></li>
		            <li><a href="mailto:vgonzalez@educacion2020.cl" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Viviana González (Contacto prensa)</a></li>
		            <li><a href="#" target="_blank"><i class="fa fa-map-marker"></i> República 580, Santiago, Chile</a></li>
		        </ul>
		    </div>

		    <div class="col-md-3">
		        <ul class="list-unstyled">
		            <li><a href="tel:+56977488097"><i class="fa fa-phone"></i> +56 9 7748 8097</a></li>
		            <li><a href="mailto:catalina.littin@superacionpobreza.cl" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Catalina Littin (Contacto prensa)</a></li>
		            <li><a href="#" target="_blank"><i class="fa fa-map-marker"></i> República 580, Santiago, Chile</a></li>
		        </ul>
		    </div>

		    <div class="col-md-3">
		        <ul class="list-unstyled">
		            <li><a href="tel:+56996560989"><i class="fa fa-phone"></i> +56 9 9656 0989</a></li>
		            <li><a href="mailto:cgomez@hogardecristo.cl" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Claudia Gómez (Contacto prensa)</a></li>
		            <li><a href="#" target="_blank"><i class="fa fa-map-marker"></i> Hogar de Cristo 3812, Estación Central, Chile</a></li>
		        </ul>
		    </div>

		    <div class="col-md-3">
		        <ul class="list-unstyled">
		            <li><a href="tel:+56997470577"><i class="fa fa-phone"></i> +56 9 9747 0577</a></li>
		            <li><a href="mailto:florencia@americasolidaria.org" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Florencia Zulueta (Contacto prensa)</a></li>
		            <li><a href="#" target="_blank"><i class="fa fa-map-marker"></i> Av. General Bustamante 26, piso 5, Providencia, Santiago, Chile</a></li>
		        </ul>
		    </div>
		</div>
	</div>
</div>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', "{{ site.analytics }}", "{{ site.basedomain }}");
ga('require', 'displayfeatures');
ga('send', 'pageview');
</script>