<form action="https://docs.google.com/forms/d/1hTvquCasqz4pShdzgQi00-ERYaFZAXdiIFymSuqROjE/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
  <ol role="list" class="ss-question-list" style="padding-left: 0">

<div class="col-md-6 col-sm-12">
  <div class="ss-form-question errorbox-good" role="listitem">
  <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
  <input placeholder="Nombre*" required type="text" name="entry.254992884" value="" class="ss-q-short" id="entry_254992884" dir="auto" aria-label="Nombre  " aria-required="true" required="" title="">
  <div class="error-message" id="771654971_errorMessage"></div>
  </div></div></div> 
</div>


<div class="col-md-6 col-sm-12">
  <div class="ss-form-question errorbox-good" role="listitem">
  <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
  <input placeholder="Apellido*" required type="text" name="entry.1618990664" value="" class="ss-q-short" id="entry_1618990664" dir="auto" aria-label="Apellido  " aria-required="true" required="" title="">
  <div class="error-message" id="412786314_errorMessage"></div>
  </div></div></div> 
</div>

<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-select"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_81485843"><div class="ss-q-title">Región
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr">¿En que región vives actualmente?</div></label>
<select name="entry.81485843" id="entry_81485843" aria-label="Región ¿En que región vives actualmente? " aria-required="true" required=""><option value=""></option>
<option value="Arica y Parinacota">Arica y Parinacota</option> <option value="Tarapacá">Tarapacá</option> <option value="Antofagasta">Antofagasta</option> <option value="Atacama">Atacama</option> <option value="Coquimbo">Coquimbo</option> <option value="Valparaíso">Valparaíso</option> <option value="Metropolitana">Metropolitana</option> <option value="Bio Bio">Bio Bio</option> <option value="Arauco (Provincia)">Arauco (Provincia)</option> <option value="O´Higgins">O´Higgins</option> <option value="La Araucanía">La Araucanía</option> <option value="Los Ríos">Los Ríos</option> <option value="Los Lagos">Los Lagos</option> <option value="Otro">Otro</option></select>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-date"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_806686776"><div class="ss-q-title">Fecha de nacimiento
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="date" name="entry.806686776" value="" class="ss-q-date" dir="auto" id="entry_806686776" aria-label="Fecha de nacimiento  " aria-required="true" required="">
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1372395766"><div class="ss-q-title">Email
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1372395766" value="" class="ss-q-short" id="entry_1372395766" dir="auto" aria-label="Email  " aria-required="true" required="" title="">
<div class="error-message" id="869413001_errorMessage"></div>

</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1784405953"><div class="ss-q-title">Celular
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1784405953" value="" class="ss-q-short" id="entry_1784405953" dir="auto" aria-label="Celular  " aria-required="true" required="" title="">
<div class="error-message" id="1331571431_errorMessage"></div>

</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_840629561"><div class="ss-q-title">¿Estudias?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices" role="radiogroup" aria-label="¿Estudias?  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1477668518" value="Soy estudiante de Ed superior" id="group_1477668518_1" role="radio" class="ss-q-radio" aria-label="Soy estudiante de Ed superior" required="" aria-required="true"></span>
<span class="ss-choice-label">Soy estudiante de Ed superior</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1477668518" value="Soy estudiante de Ed media" id="group_1477668518_2" role="radio" class="ss-q-radio" aria-label="Soy estudiante de Ed media" required="" aria-required="true"></span>
<span class="ss-choice-label">Soy estudiante de Ed media</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1477668518" value="__other_option__" id="group_1477668518_3" role="radio" class="ss-q-radio ss-q-other-toggle" required="" aria-required="true"></span>
<span class="ss-choice-label">Otro:</span></label>
<span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.1477668518.other_option_response" value="" class="ss-q-other" id="entry_1477668518_other_option_response" dir="auto" aria-label="Other"></span>
</li></ul>
<div class="error-message" id="840629561_errorMessage"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_912087599"><div class="ss-q-title">¿Tienes experiencia en la construcción de viviendas de emergencia?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices" role="radiogroup" aria-label="¿Tienes experiencia en la construcción de viviendas de emergencia?  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1111998869" value="Sí." id="group_1111998869_1" role="radio" class="ss-q-radio" aria-label="Sí." required="" aria-required="true"></span>
<span class="ss-choice-label">Sí.</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1111998869" value="No." id="group_1111998869_2" role="radio" class="ss-q-radio" aria-label="No." required="" aria-required="true"></span>
<span class="ss-choice-label">No.</span>
</label></li></ul>
<div class="error-message" id="912087599_errorMessage"></div>
</div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;-7510271332769364899&quot;]
">
<input type="hidden" name="pageHistory" value="0">


<input type="hidden" name="fbzx" value="-7510271332769364899">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ">
</td>
</tr></tbody></table></div></ol></form>