<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <!-- fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{ site.title }}<span>{{ site.edition }}</span></a>
      </div>
    </div>
  </nav>

  <div style='position: relative; padding-bottom: 61%; height: 0; overflow: hidden; margin-top: 40px;'><iframe id='iframe' src='http://flickrit.com/slideshowholder.php?height=60&size=big&userId=131688048@N04&theme=1&thumbnails=2&transition=0&layoutType=responsive&sort=0' scrolling='no' frameborder='0'style='width:100%; height:100%; position: absolute; top:0; left:0;' ></iframe></div>

  <!-- site description -->
  <div id="header">
    <div class="header-bg">
      <div id="preloader">
        <div class="preloader"></div>
      </div>
    </div>
  </div>

  <div class="rojito">
    <div class="container">
      <!-- red -->
    </div>
  </div>

  <div class="container">
    <!-- white -->
  </div>

  {% include footer.html %}
</body>
</html>